[submodule "elixir"]
	path = elixir
	url = git@github.com:Fabsolute/elixir.git
[submodule "java"]
	path = java
	url = git@github.com:Fabsolute/java.git
[submodule "js"]
	path = js
	url = git@github.com:Fabsolute/js.git
